<!DOCTYPE html>
<html>
<head>
	<title>UCraft Publishing App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function(){
			if(!!(window.localStorage.getItem('accessToken') && window.localStorage.getItem('username'))) {
				location.href = '/profile'
			}

			$("#registerForm").submit(function(event) {
				event.preventDefault()

				$.ajax({
					type: 'POST',
					url: '/api/v1/user/register',
					data: $('#registerForm').serialize(),
					dataType: "json",
					success: function(response){
						$('#registerForm')[0].reset()

						if (response.data.success) {
							location.href = '/success'
						}
					},
					error: function() {
						location.href = '/fail'
					}
         		})
			})
		})
	</script>
</head>
<body>

	<div style="width: 96%; padding-left: 2%;">
		<div class="page-header">
			<h2>UCraft Publish Application</h2>      
		</div>

		<div class="col-md-4 col-md-offset-4">
			<h4>Register Now</h4>
			<div class="form-group">
				<form id="registerForm" method="post">
					<input type="email" name="email" id="email" placeholder="E-mail" required class="form-control"><br/>
					<input type="text" name="fullName" id="fullName" placeholder="Full Name" required class="form-control"><br/>
					<input type="password" name="password" id="password" placeholder="Password" required class="form-control"><br/>
					<input type="submit" value="Register" id="register" class="btn btn-success">
				</form>
			</div>

			<div>
				<span>Already Registered! <a href="/login">Login</a></span>
			</div>
		</div>
	</div>
</body>
</html>
