<!DOCTYPE html>
<html>
<head>
	<title>UCraft Publishing App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src="/socket.io/socket.io.js"></script>
  	<script>
  		$(function () {
			var socket = io()
			var clearTimerId
			var clearInterval = 900

			$('#messageInput').bind("keypress",() => {
				socket.emit('typing', {username: window.localStorage.getItem('username')})
			})

			socket.on('chat message', function(data){
				$('#messageTable').css('display','')
				document.getElementById("check").innerHTML=""
				$('#messageList').prepend($('<tr><td>'+ data.username + '</td> <td>'+ data.message+ '</td></tr>'))
			})

			socket.on('typing', function(data) {
				$('#typing').html("<i>" + data + "</i>");
				clearTimeout(clearTimerId)
				clearTimerId = setTimeout(function () {
				$('#typing').html('')
				}, clearInterval)
			})
		})
	</script>
	<script type="text/javascript">
		$(document).ready(function(){
			if(!(window.localStorage.getItem('accessToken') && window.localStorage.getItem('username'))) {
				location.href = '/login'
			}

			$("#logout").click(function(event) {
				event.preventDefault()
				window.localStorage.removeItem('accessToken')
				window.localStorage.removeItem('username')
				location.href = '/login'
			})

			$("#messageForm").submit(function(event) {
				event.preventDefault()

				$.ajax({
					type: 'POST',
					url: '/publish',
					data: $('#messageForm').serialize(),
          			dataType: "json",
          			beforeSend: function(xhr) {
            			xhr.setRequestHeader("Authorization", "Bearer " + window.localStorage.getItem('accessToken'))
          			},
					success: function(response){
						$('#messageForm')[0].reset()
					},
					error: function() {
						window.localStorage.removeItem('accessToken')
						window.localStorage.removeItem('username')
						location.href="/login"
					}
				})
			})
		})
  </script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		  <div class="navbar-header">
			<a class="navbar-brand">UCraft Publish Application</a>
		  </div>
		  <ul class="nav navbar-nav navbar-right">
			<li><a id="logout" style="cursor: pointer;">Logout</a></li>
		  </ul>
		</div>
	</nav>
	<div style="width: 96%; padding-left: 4%;">
		<table id="messageTable" class="table table-striped table-bordered" style="display: none;">
			<thead>
				<tr>
				<th class="col-xs-4">Name</th>
				<th class="col-xs-8">Message</th>
				</tr>
			</thead>
			<tbody id="messageList">
			</tbody>
		</table>
	
		<div class="bg-danger">
			<span id="check" >No Message Yet</span>
		</div>
	  </div>
	  <form id="messageForm" method="post" >
		<div class="footer navbar-fixed-bottom">
			<p id="typing" style="padding-left:2%"></p>
			<div class="input-group" style="width: 96%;left: 2%; bottom: 5px;">
		
				<input id="messageInput" type="text" required name="message" class="form-control" placeholder="Message">
				<div class="input-group-btn">
					<button class="btn btn-success" type="submit">
						Send
					</button>
				</div>
			</div>
		</div>
	</form>
</body>
</html>
