<!DOCTYPE html>
<html>
<head>
	<title>UCraft Publishing App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			if(!!(window.localStorage.getItem('accessToken') && window.localStorage.getItem('username'))) {
				location.href = '/profile'
			}
		})
	</script>
</head>
<body>
	<div style="width: 96%; padding-left: 2%;">
		<div class="page-header">
			<h2>UCraft Publish Application</h2>      
		</div>

		<div class="col-md-4 col-md-offset-5">
			<h4>Registration Failed</h4>
			<span><a href="/">Register Again</a></span>
		</div>
	</div>
</body>
</html>
